<% layout('layouts/boilerplate') %>


<% if(user) { %>
  <h1>Hello! <%= user.firstName %></h1>
<% } else { %>
<h1>Home Page</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum ex accusantium fugiat vero quam assumenda perferendis exercitationem ipsa officia, consectetur totam iusto omnis rerum autem aperiam reprehenderit quibusdam neque qui?
Atque doloribus nihil vero ut a culpa inventore similique, accusamus dolorum fuga earum! Dolorem sunt, aliquid reprehenderit odit, hic voluptatum officiis rem pariatur necessitatibus mollitia quisquam molestias adipisci minima saepe?
Minima, possimus delectus aut tempora natus veritatis enim earum id, blanditiis 
</p> <% } %> 


