<% layout('layouts/boilerplate') %>


<div class="container w-75" style="margin-top: 15em;">
<figure class="text-center">
  <blockquote class="blockquote">
    <p>“The best language learning app”</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    sombody maybe</cite>
  </figcaption>
</figure>
</div>