<% layout('layouts/boilerplate') %>

<div class="row vh-100">
  <div class="col-2 bg-secondary">
  </div>
  <div class="container p-4 col-10">
    <h1>Register As a Tutor</h1>
    <form action="/tutors" method="POST">
      <div class="my-3">
        <label for="language" class="form-label">What language you want to teach? </label>
        <select class="form-select" aria-label="Default select example" name="language" id="language" is="language" required>
          <% languages.forEach(language => { %>
          <option value="<%= language %>"><%= language %></option>
          <% }) %>
        </select>
      </div>
      <div class="my-3">
        <label for="about" class="form-label">Profile</label>
        <textarea class="form-control" id="about" rows="4" placeholder="About yourself" name="about"></textarea>
      </div>
      <div class="my-3">
        <label for="skills" class="form-label">Add relevant skills</label>
        <textarea class="form-control" id="skills" rows="4" placeholder="Your skills" name="skills"></textarea>
      </div>
      <a href="/users" type="button" class="btn btn-secondary">Cancel</a>
      <input type="submit" class="btn btn-primary" />
    </form>
  </div>
</div>

