<% layout('layouts/boilerplate') %>


<div class="container p-5">
  <% for(let lesson of lessons) {%>
  <h5><a href=""><%= lesson.time %>, <%= lesson.date.toLocaleDateString() %></a></h5>

  <%} %>
</div>
