<% layout('layouts/boilerplate') %>

<div class="container p-5">
  <% for(let lesson of lessons) {%>
  <ul>
    <li><%= lesson.time %>, <%= lesson.date.toLocaleDateString() %>
      <a class="btn bg-primary" href="/tutors/<%= tutor._id %>/<%= lesson._id %>">Make a Booking</a></li>
  </ul>

  <%} %>
</div>
