<% layout('layouts/boilerplate') %>

<div class="container p-5">
  <ul>
  <% for(let lesson of lessons) {%>
    <li><%= lesson.time %>, <%= lesson.date.toLocaleDateString() %>
      <% if(!lesson.tutee) { %>
        <a class="btn bg-primary p-1" href="/tutors/<%= tutor._id %>/<%= lesson._id %>">Make a Booking</a></li>
        <% } else if (lesson.tutee.toString() === user._id.toString()) {%>
          <a class="btn bg-warning p-1" href="#">My booking</a></li>
          <% } else {%> 
            <a class="btn bg-warning p-1" href="#">Booked</a></li>
      <% } %>
      <%} %>
    </ul>
</div>
