<% layout('layouts/boilerplate') %>

<h1>My page</h1>
<% if(!user.isATutor) { %>
<a href="/tutors/new">Become a tutor</a>
<% } else {%>
  <h2>You are a tutor</h2>
<% } %>
<div><a href="/users/edit">Edit your info</a></div>

